body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #515151;
}

.logo {
  width: 30vh;
  margin-bottom: 15px;
}

.header {
  text-align: center;
  width: 100%;
}

main {
  width: 40%;
  margin-inline: auto;
}

.subtitle {
  width: 100%;
  background-color: #fdfbf1;
  border-top-style: solid;
  border-color: #ffd877;
  padding: 10px;
  color: #107777;
  margin-bottom: 60px;
}

h1 {
  margin-inline: auto;
  text-align: center;
}

figure {
  margin: 0;
  text-align: center;
  margin-bottom: 20px;
}
img {
  width: 100%;
  margin: 00;
}

figcaption {
  color: #9a9a9a;
}

.featured {
  border-left-style: solid;
  border-color: #ffd877;
  color: #c46940;
}

.link {
  display: inline-block;
  color: #107777;
}
